.advanced-search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #454265, #191822);
    color: black;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
  }
  
  .search-header {
    font-family: Bebas Neue, sans-serif;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
  }

  .encapsulating-container {
    background-color: #ebebeb; 
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-section {
    width: 300px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden; 
    transition: height 0.3s; 
    overflow: hidden;
  }
  
  .search-section.collapsed {
    height: 50px;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  
  .section-header h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .section-header span {
    font-size: 18px;
  }
  
  .section-content {
    padding: 10px 15px;
    text-align: left;
  }
  
  .section-content label {
    display: block;
  }
  
  .section-content input[type="checkbox"] {
    margin-right: 5px;
  }

  .section-content input[type="text"] {
    border-radius: 4px;
    padding: 6px;
    border: solid 1px #9e9e9e;
  }
  
  .section-content p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
    text-align: left;
  }
  
  .section-content p:last-child {
    cursor: pointer;
    color: #007bff;
  }
  
  .search-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .search-button {
    background-color: #770248;
    color: white;
    border: none;
    padding: 12px 70px;
    font-size: 22px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .search-button:hover {
    background-color: rgba(166, 0, 100, 0.9); 
  }
  
  .expand-icon {
    font-size: 18px;
  }