.breadcrumbs {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
    text-align: left;
  }
  
  .breadcrumbs a {
    color: white;
    text-decoration: none;
  }
  
  .breadcrumbs a:hover {
    color: #007bff;
    text-decoration: underline #007bff;
    
  }
  
  .breadcrumbs span {
    color: #b6b6b6;
    text-decoration: underline;
    margin-left: 3px;
  }